
#userPage {
    margin: 10px;
}

#userPageHeader{
    overflow: auto;
}
    

#userPageNav ul {
    list-style-type: none;
}

#userPageNav li {
    float: left;
    width: 33%;
}

#userPageNav a {
    text-decoration: none;
}

#userPageNav a:hover {
    text-decoration: underline;
}


.userPageSubSection {
    border: solid 1px black;
    margin: 10px 0px;
}

.userPageSubSectionProfile{
    font-size: 14;
    font-weight: bold;
}

.even{background-color: orange; }
.odd{background-color: white;}

.userPageSection{
    clear: both;
    
}


#headerH1{
     float: left;
}

#headerForm{
    float: right;
}